%h2
  Projects
%hr
%table
  - @projects.each do |project|
    %tr
      %td
        %img{ :src => "/images/#{project.last_build_result}.png" }
      %td
        %a{ :href => "/projects/#{project.name}" }
          = project.name
      %td
        = "Project last built #{time_ago_in_words(project.last_build.date)} ago." rescue 'Last build time unknown'