%h2
  Builds
%hr
%table
  - @builds.each do |build|
    %tr
      %td
        %img{ :src => "/images/#{build.result}.png" }
      %td
        %a{:href => build.url}
          = build.name
      %td
        = "Executed #{time_ago_in_words(build.date)} ago."
        

= will_paginate @builds